
// If you're wanting to import the grid
@import 'carbon-components/scss/globals/grid/grid';
@import "@carbon/charts/styles/styles.scss";
$body-color: #f4f4f4;
$app-color: #f4f4f4;
// #001d6c;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-size: 62.5%;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: $body-color;
}

main {
  padding: 5rem 1rem;
}

#app {
  background-color: $app-color;
  display: flex;
  flex-direction: column;
  padding: 5rem 1rem;
  min-height: 100%;
  width: 100vw;
  margin-bottom: -50px;
}

footer {
  background-color: #000;
  padding: 1rem;  
}

footer, .push {
  height: 50px;
}

.bx--grid {
  font-size: 1rem;
}

bx-data-table {
  width: 100%;
}

bx-header {
  font-size: 1.2rem;
  color: white;
}

bx-header ~ bx-side-nav {
  margin-top: 3rem;
  height: calc(100% - 3rem);
}

.controls {
  padding: 2rem;
  margin: 1rem;
  font-size: 4rem;
  background-color: #fff;
}
