<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />

  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>

  <link rel="stylesheet" href="index.css">

</head>

<body>
  
  <bx-header role="header">
    <bx-header-menu-button></bx-header-menu-button>
    <bx-header-name href="/">
      intelligent Irrigation System
    </bx-header-name>
    <bx-header-nav>
      <bx-header-nav-item href="#/zones"> Zones </bx-header-nav-item>
      <bx-header-nav-item href="#/settings"> Settings </bx-header-nav-item>
    </bx-header-nav>
  </bx-header>
  <bx-side-nav>
    <bx-side-nav-item>
      <bx-side-nav-link href="#/zones">Zones</bx-side-nav-link>
      <bx-side-nav-link href="#/settings">Settings</bx-side-nav-link>
    </bx-side-nav-item>
  </bx-side-nav>

  <main id="app" class="bx--grid">

    

   
  <div class="push"></div> 

  </main>

<footer> </footer>

</body>

</html>